<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Zadatak</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b0f6">  <td>17/06/04 12:15:01</td>   <td>0</td> <td title="&gt;&gt;LoginTest.setupSelenium()[pri:0, instance:rs.aleph.zadatak.LoginTest@4439f31e]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>17/06/04 12:15:06</td>   <td>5852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setupPages()[pri:0, instance:rs.aleph.zadatak.LoginTest@4439f31e]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>17/06/04 12:15:06</td>   <td>5861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TestLogovanja()[pri:0, instance:rs.aleph.zadatak.LoginTest@4439f31e]">TestLogovanja</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="81a1bc">  <td>17/06/04 12:15:12</td>   <td>11262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StudentTest.setupPages()[pri:0, instance:rs.aleph.zadatak.StudentTest@3a82f6ef]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="81a1bc">  <td>17/06/04 12:15:12</td>   <td>11276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.UnosIzmenaBrisanjeStudenta()[pri:0, instance:rs.aleph.zadatak.StudentTest@3a82f6ef]">UnosIzmenaBrisanjeStudenta</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/06/04 12:15:17</td>   <td>16003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NastavnikTest.setupPages()[pri:0, instance:rs.aleph.zadatak.NastavnikTest@5d5eef3d]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/06/04 12:15:17</td>   <td>16004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NastavnikTest.UnosNastavnika()[pri:0, instance:rs.aleph.zadatak.NastavnikTest@5d5eef3d]">UnosNastavnika</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="fee26c">  <td>17/06/04 12:15:22</td>   <td>21398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PredmetiTest.setupPages()[pri:0, instance:rs.aleph.zadatak.PredmetiTest@23ceabc1]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="fee26c">  <td>17/06/04 12:15:22</td>   <td>21398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PredmetiTest.UnosPredmetaNastavnikaStudenta()[pri:0, instance:rs.aleph.zadatak.PredmetiTest@23ceabc1]">UnosPredmetaNastavnikaStudenta</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>17/06/04 12:15:24</td>   <td>23721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IspitniRokTest.setupPages()[pri:0, instance:rs.aleph.zadatak.IspitniRokTest@5dfcfece]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>17/06/04 12:15:24</td>   <td>23726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IspitniRokTest.UnosIspitnogRoka()[pri:0, instance:rs.aleph.zadatak.IspitniRokTest@5dfcfece]">UnosIspitnogRoka</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>17/06/04 12:15:30</td>   <td>29407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IspitniRokTest.setupPages()[pri:0, instance:rs.aleph.zadatak.IspitniRokTest@5dfcfece]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>17/06/04 12:15:30</td>   <td>29407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IspitniRokTest.UnosNeispravnogIspitnogRoka()[pri:0, instance:rs.aleph.zadatak.IspitniRokTest@5dfcfece]">UnosNeispravnogIspitnogRoka</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>17/06/04 12:15:32</td>   <td>31038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IspitnePrijaveTest.setupPages()[pri:0, instance:rs.aleph.zadatak.IspitnePrijaveTest@6cc4c815]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>17/06/04 12:15:32</td>   <td>31041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IspitnePrijaveTest.UnosIspitnePrijave()[pri:0, instance:rs.aleph.zadatak.IspitnePrijaveTest@6cc4c815]">UnosIspitnePrijave</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>17/06/04 12:15:36</td>   <td>35889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTest.setupPages()[pri:0, instance:rs.aleph.zadatak.LogoutTest@56f4468b]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>17/06/04 12:15:36</td>   <td>35889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTest.logout()[pri:0, instance:rs.aleph.zadatak.LogoutTest@56f4468b]">logout</td> 
  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>17/06/04 12:15:37</td>   <td>36403</td> <td title="&lt;&lt;LogoutTest.closeSelenium()[pri:0, instance:rs.aleph.zadatak.LogoutTest@56f4468b]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
</table>
