<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="688d64">  <td>17/06/02 05:36:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StudentTest.setupPages()[pri:0, instance:rs.aleph.zadatak.StudentTest@6a024a67]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td>  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>17/06/02 05:36:16</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.UnosIzmenaBrisanjeStudenta()[pri:0, instance:rs.aleph.zadatak.StudentTest@6a024a67]">UnosIzmenaBrisanjeStudenta</td> 
  <td>main@703504298</td>   <td></td> </tr>
</table>
