<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="688d64">  <td>17/05/28 17:49:32</td>   <td>0</td> <td title="&gt;&gt;UslovniTest.setupSelenium()[pri:0, instance:rs.aleph.zadatak2.UslovniTest@402f32ff]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>17/05/28 17:49:38</td>   <td>5749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogovanja.TestLogovanja()[pri:0, instance:rs.aleph.zadatak2.TestLogovanja@573f2bb1]">TestLogovanja</td> 
  <td>main@2015601401</td>   <td></td> </tr>
</table>
